.basic_card {
    background-color: #f7f7f7;
    color: #000000;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 20px auto;
    height: 150px;
    box-sizing: border-box;
}

.basic_card_row {
    display: flex;
    justify-content: space-between;
}

.basic_card_row_item {
    font-size: 15px;
    text-align: left;
    flex: 1;
}

.gender-info {
    font-size: 15px;
    text-align: left;
}

.title {
    font-size: 16px;
    font-weight: 400;
}

.sub-title {
    font-size: 20px;
    font-weight: 600;
}

.sub-list-title {
    font-size: 14px;
}

.flex_container {
    display: flex;
    justify-content: space-between;
}

.bullet_green {
    color: green;
    font-size: 24px;
    margin-right: 10px;
}

.bullet_orange {
    color: #FF780A;
    font-size: 24px;
    margin-right: 10px;
}

.bullet_yellow {
    color: #F5B406;
    font-size: 24px;
    margin-right: 10px;
}

.bullet_blue {
    color: #0050D6;
    font-size: 24px;
    margin-right: 10px;
}

.percentage {
    font-size: 18px;
}